@font-face {
  font-family: 'bebasneue_bold';
  src:url("../SCSS/FONT/WOFF/bebasneue_bold.woff") format('woff');
}

@font-face {
  font-family: 'bebasneue_book';
  src:url("../SCSS/FONT/WOFF/bebasneue_book.woff") format('woff');
}

@font-face {
  font-family: 'bebasneue_light';
  src:url("../SCSS/FONT/WOFF/bebasneue_light.woff") format('woff');
}

@font-face {
  font-family: 'bebasneue_regular';
  src:url("../SCSS/FONT/WOFF/bebasneue_regular.woff") format('woff');
}

@font-face {
  font-family: 'bebasneue_thin';
  src:url("../SCSS/FONT/WOFF/bebasneue_thin.woff") format('woff');
}

